<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- <link rel="stylesheet" href="/stylesheets/ui.admin.css"> 
<link rel="stylesheet" href="/stylesheets/circle.css">  -->

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascript/common.js"></script>

<!-- Font Awesome -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="/stylesheets/custom.min.css" rel="stylesheet">

</head> 


<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            
            <!-- include LNB -->
            <% include ./inc/lnb %>
            <!-- //include LNB -->
    
            <!-- top navigation -->
            <% include ./inc/header %>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                <div class="row tile_count">
                  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-calendar"></i> Today</span>
                    <div class="count green"><%= monster_today %></div>
                    <span class="count_bottom"><i class="green fa fa-check"> <%= monster_today_week %></i></span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> Total User</span>
                    <div class="count ">2,500</div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i> 34% </i> From last Week</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-database"></i> Today totals</span>
                    <div class="count blue"><%= totalStockCount %></div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-calendar"></i> <%= ma01DailyList_day %> </i></span>
                    </div>
                  <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-inbox"></i> Today MA01 Search</span>
                    <div class="count red"><%= ma01DailyList_len %></div>
                    <span class="count_bottom"><i class="green"><i class="fa fa-calendar"></i> <%= ma01DailyList_day %></i></span>
                  </div>
                </div>
                <!-- /top tiles -->





                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-9 tile_stats_count">
                                    <h2 class="w-100">MA01 DAILY LIST </h2>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
                                    <a class="btn btn-default btn-sm source pull-right" href="/alg-list/ma01">More</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
        
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">날짜</th>
                                        <th class="text-center">STEP1</th>
                                        <th class="text-center">STEP2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% ma01DailyList.forEach( (item) => { %>
                                    <tr>
                                        <td class="text-center"><a href='/alg-list/ma01/<%= item.date %>'><%= item.date %></a></td>
                                        <td class="text-center"><div class="icon-step1"><%= item.step1 %></div></td>
                                        <td class="text-center"><div class="icon-step2"><%= item.step2 %></div></td>
                                    </tr>
                                <% }); %>               

                                </tbody>
                            </table>
        
                        </div>
                        </div>
                    </div>
        
        
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                        <div class="x_title">
                            <h2>Stripped table <small>Stripped table subtitle</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
        
                            <table class="table table-striped">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                
                            </tbody>
                            </table>
        
                        </div>
                        </div>
                    </div>
          

                </div>

              
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Daily Monster Log <small>Sessions</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-unstyled timeline">
                                    <% codeLogList.forEach( (item) => { 
                                        var icl = item.content.split("#")
                                    %>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span><%= item.date %></span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title"><a>Monster LOG</a></h2>
                                                <div class="byline">
                                                    <span><%= item.date %></span> by <a>Monater Machine</a>
                                                </div>
                                                    <% for(var i = 1; i < icl.length; i++){%>
                                                    <p class="excerpt"><%= icl[i] %></p>
                                                    <%}%>
                                                </div>
                                        </div>
                                    </li>
                                    <% }); %>  
                                </ul>
            
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Daily MA01 Log <small>Sessions</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <ul class="list-unstyled timeline">
                                    <% a01LogList.forEach( (item) => { 
                                        var icl = item.content.split("#")
                                    %>
                                    <li>
                                        <div class="block">
                                            <div class="tags">
                                                <a href="" class="tag">
                                                    <span><%= item.date %></span>
                                                </a>
                                            </div>
                                            <div class="block_content">
                                                <h2 class="title"><a>MA01 LOG</a></h2>
                                                <div class="byline">
                                                    <span><%= item.date %></span> by <a>Monater Machine</a>
                                                </div>
                                                    <% for(var i = 1; i < icl.length; i++){%>
                                                    <p class="excerpt"><%= icl[i] %></p>
                                                    <%}%>
                                                </div>
                                        </div>
                                    </li>
                                    <% }); %>  
                                </ul>
            
                            </div>
                        </div>
                    </div>
                </div>


            





              
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <% include ./inc/footer %>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/javascript/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/javascript/icheck.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="/javascript/custom.js"></script>
        
</body>
</html> 

















<!-- 












<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/ui.admin.css"> 
<link rel="stylesheet" href="/stylesheets/circle.css"> 


<link rel="stylesheet" href="/stylesheets/nice-date-picker.css"> 
<script src="/javascript/common.js"></script>
<script src="/javascript/nice-date-picker.js"></script>
</head> 


<body> 
<div class="wrap"> 
    <div class="container"> 
        <% include ./inc/header %>
        <section>
            <div class="header">
                <div class="header-title">
                    Header Info
                </div>
                <div class="header-info">
                    Info
                </div>
                <dlv class="login">
                    Login Info
                </dlv>
            </div>
            <div class="contents">
                <h3>Dashboard</h3> 
                
                <div class="box"> 
                    <div class="dan">
                        <h4>Today</h4>
                        <p class="center info-num"><%= monster_today %></p>
                        <p class="info-subTxt center green"><%= monster_today_week %></p>
                    </div> 
                    <div class="dan">
                        <h4>Today totals</h4>
                        <p class="center info-num"><%= totalStockCount %></p>
                        <p class="info-subTxt center green"><%= ma01DailyList_day %></p>
                    </div> 
                    <div class="dan">
                        <h4>Today MA01 Search</h4>
                        <p class="center info-num"><%= ma01DailyList_len %></p>
                        <p class="info-subTxt center green"><%= ma01DailyList_day %></p>
                    </div> 
                </div>

                <div class="box"> 
                    <div class="dan"> 
                        <h4>MA01 DAILY LIST(<a href="/alg-list/ma01">더보기</a>)</h4> 
                        <div class="box-contents"> 
                            <table class="list-table">
                                <colgroup>
                                    <col width="">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>날짜</th>
                                        <th>STEP1</th>
                                        <th>STEP2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% ma01DailyList.forEach( (item) => { %>
                                    <tr>
                                        <td class="center"><a href='/alg-list/ma01/<%= item.date %>'><%= item.date %></a></td>
                                        <td class="center"><div class="icon-step1"><%= item.step1 %></div></td>
                                        <td class="center"><div class="icon-step2"><%= item.step2 %></div></td>
                                    </tr>
                                <% }); %>               

                                </tbody>
                            </table>
                            
                        </div>
                    </div> 
                    <div class="dan"> 
                        <h4>Box Title</h4> 
                        <div class="box-contents"> 
                            <ul class="list"> 
                                
                            </ul> 
                        </div> 
                    </div> 
                </div> 

                <div class="box"> 
                    <div class="dan"> 
                        <h4>MA01 LOG</h4> 
                        
                        <div class="box-contents"> 
                            <ul class="list"> 
                              <% codeLogList.forEach( (item) => { 
                                  var icl = item.content.split("#")
                                %>
                                <li>
                                  <span><%= item.date %></span>
                                  <div>
                                    <% for(var i = 0; i < icl.length; i++){%>
                                      <p><%= icl[i] %></p>
                                    <%}%>
                                    
                                  </div>
                                </li>
                              <% }); %>
                            </ul> 
                        </div>
                    </div> 
                    <div class="dan"> 
                        <h4>Box Title</h4> 
                        <div class="box-contents"> 
                            <ul class="list"> 
                                <% a01LogList.forEach( (item) => { 
                                  var icl = item.content.split("#")
                                %>
                                <li>
                                  <span><%= item.date %></span>
                                  <div>
                                    <% for(var i = 0; i < icl.length; i++){%>
                                      <p><%= icl[i] %></p>
                                    <%}%>
                                    
                                  </div>
                                </li>
                              <% }); %>
                            </ul> 
                        </div> 
                    </div> 
                </div> 
                <div class="box">
                    <div id="calendar1">
                        <div id="calendar1-wrapper1"></div>
                        <span class="calendar1-msg"></span>
                    </div>
                </div>
                
            </div>
        </section> 
    </div> 
</div> 

<script>

new niceDatePicker({
        dom:document.getElementById('calendar1-wrapper1'),
        mode:'kr',
        onClickDate:function(date){
            document.querySelector('.calendar1-msg').innerHTML='calendar1 your selected '+date;
        }
    });
    /*
    new niceDatePicker({
        dom:document.getElementById('calendar1-wrapper2'),
        year:2017,
        month:5,
        mode:'zh',
        onClickDate:function(date){
            document.querySelector('.calendar2-msg').innerHTML='calendar2 your selected '+date;
        }
    });*/
</script>
</body> 
</html>  -->