<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/ui.admin.css"> 
<link rel="stylesheet" href="/stylesheets/circle.css"> 


<link rel="stylesheet" href="/stylesheets/nice-date-picker.css"> 
<script src="/javascript/common.js"></script>
<script src="/javascript/nice-date-picker.js"></script>
</head> 


<body> 
<div class="wrap"> 
    <div class="container"> 
        <% include ./inc/header %>
        <section>
            <div class="header">
                <div class="header-title">
                    Header Info
                </div>
                <div class="header-info">
                    Info
                </div>
                <dlv class="login">
                    Login Info
                </dlv>
            </div>
            <div class="contents">
                <h3>Dashboard</h3> 
                
                <div class="box"> 
                    <div class="dan">
                        <h4>Today</h4>
                        <p class="center info-num"><%= monster_today %></p>
                        <p class="info-subTxt center green"><%= monster_today_week %></p>
                    </div> 
                    <div class="dan">
                        <h4>Today totals</h4>
                        <p class="center info-num"><%= totalStockCount %></p>
                        <p class="info-subTxt center green"><%= ma01DailyList_day %></p>
                    </div> 
                    <div class="dan">
                        <h4>Today MA01 Search</h4>
                        <p class="center info-num"><%= ma01DailyList_len %></p>
                        <p class="info-subTxt center green"><%= ma01DailyList_day %></p>
                    </div> 
                </div>

                <div class="box"> 
                    <div class="dan"> 
                        <h4>MA01 DAILY LIST(<a href="/alg-list/ma01">더보기</a>)</h4> 
                        <div class="box-contents"> 
                            <table class="list-table">
                                <colgroup>
                                    <col width="">
                                    <col width="100">
                                    <col width="100">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>날짜</th>
                                        <th>STEP1</th>
                                        <th>STEP2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% ma01DailyList.forEach( (item) => { %>
                                    <tr>
                                        <td class="center"><a href='/alg-list/ma01/<%= item.date %>'><%= item.date %></a></td>
                                        <td class="center"><div class="icon-step1"><%= item.step1 %></div></td>
                                        <td class="center"><div class="icon-step2"><%= item.step2 %></div></td>
                                    </tr>
                                <% }); %>               

                                </tbody>
                            </table>
                            
                        </div>
                    </div> 
                    <div class="dan"> 
                        <h4>Box Title</h4> 
                        <div class="box-contents"> 
                            <ul class="list"> 
                                
                            </ul> 
                        </div> 
                    </div> 
                </div> 

                <div class="box"> 
                    <div class="dan"> 
                        <h4>MA01 LOG</h4> 
                        
                        <div class="box-contents"> 
                            <ul class="list"> 
                              <% codeLogList.forEach( (item) => { 
                                  var icl = item.content.split("#")
                                %>
                                <li>
                                  <span><%= item.date %></span>
                                  <div>
                                    <% for(var i = 0; i < icl.length; i++){%>
                                      <p><%= icl[i] %></p>
                                    <%}%>
                                    
                                  </div>
                                </li>
                              <% }); %>
                            </ul> 
                        </div>
                    </div> 
                    <div class="dan"> 
                        <h4>Box Title</h4> 
                        <div class="box-contents"> 
                            <ul class="list"> 
                                <% a01LogList.forEach( (item) => { 
                                  var icl = item.content.split("#")
                                %>
                                <li>
                                  <span><%= item.date %></span>
                                  <div>
                                    <% for(var i = 0; i < icl.length; i++){%>
                                      <p><%= icl[i] %></p>
                                    <%}%>
                                    
                                  </div>
                                </li>
                              <% }); %>
                            </ul> 
                        </div> 
                    </div> 
                </div> 
                <div class="box">
                    <div id="calendar1">
                        <div id="calendar1-wrapper1"></div>
                        <span class="calendar1-msg"></span>
                    </div>
                </div>
                
            </div>
        </section> 
    </div> 
</div> 

<script>

new niceDatePicker({
        dom:document.getElementById('calendar1-wrapper1'),
        mode:'kr',
        onClickDate:function(date){
            document.querySelector('.calendar1-msg').innerHTML='calendar1 your selected '+date;
        }
    });
    /*
    new niceDatePicker({
        dom:document.getElementById('calendar1-wrapper2'),
        year:2017,
        month:5,
        mode:'zh',
        onClickDate:function(date){
            document.querySelector('.calendar2-msg').innerHTML='calendar2 your selected '+date;
        }
    });*/
</script>
</body> 
</html> 