<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>

<script type="text/javascript" src="/javascript/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascript/common.js"></script>
<!-- Style -->
<link href="/stylesheets/base.css" rel="stylesheet">


</head> 
<body>
    <!-- include HEADER -->
    <% include ../../inc/m_header %>
    <!-- //include HEADER -->

    <section class="list-picker-wrap">
        <div class="list-picker" id="dayNum"></div>
        <div class="list-picker-subtitle">총 <span class="color-orange"><%= rowList.length %>개</span>의 종목이 발굴되었습니다.</div>
    </section>
    <section class="view-option">
        <a href="javascript:view_table3();" class="icon-view3">보기3</a>
        <a href="javascript:view_table2();" class="icon-view2">보기2</a>    
        <a href="javascript:view_table1();" class="icon-view1">보기1</a>
    </section>

    <section class="box-wrap-list">
        <div class="view1">

                <% rowList.forEach( (item) => { 

                    

                    function getShotDate(dateString) {
                        function zeroCheck(str){
                            var re_str = str.split("");
                            if(re_str[0] == "0"){
                                return re_str[1];
                            }else{
                                return str;
                            }
                        }
                        var shotDateString = "";
                        var dateStr = dateString.split("-");
                        var monStr = zeroCheck(dateStr[1]);
                        var dayStr = zeroCheck(dateStr[2]);
                        shotDateString = monStr+"."+dayStr;
                        
                        return shotDateString;
                    }

                    function AddComma(data_value) {
                        return Number(data_value).toLocaleString('en').split(".")[0];
                        }
                    var tv = AddComma(item.today_volume);
                    var v30 = AddComma(item.avr30_volume);
                    var v60 = AddComma(item.avr60_volume);
                    var max_p = AddComma(item.max_price);
                    var min_p = AddComma(item.min_price);
                    var base_p = AddComma(item.base_price);
                    var per_volum = (item.today_volume / item.avr60_volume ).toFixed(0);
                    var shotDate = getShotDate(item.date);
                    var maxShotDate = (item.max_date != "") ? getShotDate(item.max_date) : "";
                    var todayClose = AddComma(item.today_close);
                    var todayShotDate = getShotDate(item.today_date) 
                    var fa = (item.favorite_add_date) ? "on" : "";
                    var todayPer = (item.today_per.indexOf("-") > -1) ? item.today_per.replace("-","") :item.today_per ;
                    var todayPerMark = (item.today_per.indexOf("-") > -1) ? "▼" : "▲";
                    var t_class = (item.today_per.indexOf("-") > -1) ?  "blue_c" : "red_c";
                    
                    if(item.base_price == null ){
                        var grow_val = 0;
                        var c_class = "blue_c";
                        var grow_mark = "▼";
                        
                        var low_val = 0;
                        var l_class = "blue_c";
                        var low_mark = "▼";
                    }else{
                        if(item.date == item.max_date ){
                            var grow_val = "-";
                            var c_class = "";
                            var grow_mark = "";

                            var low_val = "-";
                            var l_class = "";
                            var low_mark = "";
                        }else{
                            var grow_val = ((Math.abs(item.max_price-item.base_price)/item.base_price)*100).toFixed(2);
                            var c_class = (item.max_price > item.base_price) ? "gap_up" : "gap_down";
                            var grow_mark = (item.max_price > item.base_price) ? "▲" : "▼";

                            var low_val = ((Math.abs(item.min_price-item.base_price)/item.base_price)*100).toFixed(2);
                            var l_class = (item.min_price > item.base_price) ? "red_c" : "blue_c";
                            var low_mark = (item.min_price > item.base_price) ? "▲" : "▼";
                        }
                        
                    }
                    
                %>                     
                    

                <div class="product-wrap">
                    <div class="product-name">
                        <%= item.name %><span class="product-num"><%= item.code %></span>
                    </div>
                    <div class="product-detail">
                        <ul class="product-table">
                            <li class="request">
                                <div class="product-fl">
                                    <p class="product-title">발굴가 <span class="product-date"><%= shotDate %></span></p>
                                </div>
                                <div class="product-fr">
                                    <p class="product-price"><%= base_p %></p>
                                    <p class="product-percent"><%= item.change_per %>%</p>
                                </div>
                            </li>
                            <li class="max">
                                <div class="product-fl">
                                    <p class="product-title">최고가 <span class="product-date"><%= maxShotDate %></span></p>
                                </div>
                                <div class="product-fr">
                                    <p class="product-price <%=c_class%>"><%= max_p %></p>
                                    <p class="product-percent <%=c_class%>"><span class="gap"><%= grow_mark %></span><%= grow_val %>%</p>
                                </div>
                            </li>
                            <li class="now">
                                <div class="product-fl">
                                    <p class="product-title">현재가 <span class="product-date"><%= todayShotDate %></span></p>
                                </div>
                                <div class="product-fr">
                                    <p class="product-price <%= t_class %>"><%= todayClose %></p>
                                    <p class="product-percent <%= t_class %>"><span class="gap"> <%= todayPerMark %></span><%= todayPer %>%</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="util-wrap">
                        <div class="product-util">
                            <ul class="product-table">
                                <li>
                                    <a href="#" data="<%= item.code %>" class="icon-follow <%=fa%>"><span class="heart-no"></span><span class="like">좋아요</span></a>
                                </li>
                                <li>
                                    <a href="javascript:showPopupChart('<%= item.code %>')" class="icon-chart">차트보기</a>
                                </li>
                                <li>
                                    <a href="#" class="icon-talk">종목토론</a>
                                </li>
                            </ul>
                        </div>
                    </div>        
                </div>

                <% }); %>

                





        </div>
    </section>

    <!-- include DOCBAR -->
    <% include ../../inc/m_footer %>
    <!-- //include DOCBAR -->
<script>


    



    
        var dateName = getWeekName('<%=thisDate%>');
        var shotDateName = getShotDate('<%=thisDate%>');
        var makeDom = shotDateName+'<span class="day-name">('+dateName+')</span>';
        $("#dayNum").empty().append(makeDom);



    //$(document).ready(function(){
        $(".icon-follow").on("click", function(){
            var _inow = getToday();
            var _icode = $(this).attr("data");
            var _idate = '<%= thisDate %>';
            var _iemail = '<%= user.email %>';
            var target = $(this);
            function callbackFn(){
                if( target.hasClass("on") ){
                    target.addClass("ing")
                    setTimeout(function(){target.removeClass("on");target.removeClass("ing");}, 100)
                }else{
                    target.addClass("ing")
                    setTimeout(function(){target.addClass("on");target.removeClass("ing");}, 100)
                }
            }

            console.log(_icode+","+_idate+","+_iemail+","+_inow);
            
            var query_url = ( $(this).hasClass("on") ) ? "/m/favorite/remove_item" : "/m/favorite/add_item";
            console.log(query_url)
            $.ajax({  
                type: "POST" 
                ,url: query_url
                ,data: {f_date:_idate, f_code:_icode, f_email:_iemail, f_now:_inow}
                ,success:function(data){ 
                    callbackFn();
                }
                ,error:function(data){
                    alert("error");
                }
            });
           return false;
        });







    //})
</script>
    
</body>
</html>
